* {
    position: relative;
}


/* navbar-------------------------------------- */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* 確保導航欄在最上層 */
    width: 100vw;
    height: 50px;
    background-color: #f5f6f6;
    border-bottom: 1px solid #11ACF0;
}
.logo img {
    width: 100%;
    height: 40px;
}
#besttourheader .logo img {
    margin: 5px auto;
    width: auto;
    height: 40px;
    cursor: pointer;
}
.banner-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('AisaActivity_img/banner.jpg');
    overflow: hidden;
}

/* nav---------------------- */
.sticy {
    position: sticky;
    top: 0;
    z-index: 1100;
    /* 確保小導航在導航欄下面 */
}

.poiMenu {
    position: sticky;
    width: 100%;
    top: 50px;
    left: 0;
    background: #006699;
    text-align: center;
    height: auto;
    z-index: 99;
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(31, 114, 93, 0.2);
}

ul {
    list-style: none;
}

.poiMenu li {
    font: 400 20px / 1.2 'Noto Sans TC';
    margin: 0px 5px;
    position: relative;
    padding: 5px 10px;
    color: #f8f5f3;
    cursor: pointer;
}

/* section------------------ */

.section {
    background: url("AisaActivity_img/container_bg.png")center top no-repeat;
    background-size: 100% auto;
}

.container {
    padding: 50px 40px;
    border-radius: 60px;
    background-color: #56b5e4;
}


.Product_Info {
    overflow-x: hidden;
}

/* Custom CSS */


.title {
    margin: 60px 0 20px 0;
}

.title h1 {
    text-align: center;
    margin: 20px 0;
    color: #006699;
    font-weight: bolder;
}

.section-heading {
    text-align: center;
    color: #fcf8fb;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    border-radius: 30px;
    background: radial-gradient(circle at 50% 50%, #f1eeee70, #f0f0f300);
    /* width: 900px; */
}

.swiper-wrapper {
    margin-right: 1000px;
}

.product-info {
    text-align: center;
}

.product-card {
    position: relative;
    margin: 0px 10px;
    margin-bottom: 50px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    /* 隱藏超出卡片的內容 */
    transition: transform 0.3s ease;
    /* 添加平滑過渡效果 */
}

.product-card:hover {
    transform: scale(1.1);
    /* 將卡片放大 1.1 倍 */
}

.card-img-top {
    height: 200px;
    border-radius: 20px 20px 0 0;
}

.card-title {
    font-weight: bold;
    color: rgb(32, 32, 32);
    font-size: 18px;
}

.price {
    position: absolute;
    right: 16px;
    bottom: 12px;
    z-index: 1;
}

.price span {
    color: #dc3545;
    font-size: 30px;
    font-weight: bolder;
}

.product-info img {
    width: 780px;
}

* .document-bgimg {
    background-size: cover;
    padding-top: 66.66%;
    height: 0;
}


footer {
    text-align: center;
    margin: 100px 0 0 0;
}



@media screen and (max-width: 767px) {
    .product-info {
        text-align: center;
        /* padding: 10px; */
    }

    .banner-bg {
        width: 100%;
        height: 200px;
        overflow: visible;
    }

    .logo {
        text-align: center;
    }

    .product-info img {
        width: 317px;
    }

    .line {
        display: none;
    }

    .container {
        padding: 50px 20px;
        border-radius:0px;
        background-color: #56b5e4;
    }
}



@media screen and (max-width: 460px) {}



/* 每5秒自動輪播 */

/* 設置 .swiper-container 的樣式 */
.swiper-container {
    width: 100%;
    overflow: hidden;
    /* 隱藏超出容器的內容 */
}

/* 設置 .swiper-wrapper 的樣式 */
.swiper-wrapper {
    display: flex;
    /* 使用 Flexbox 佈局 */
    transition: transform 1s ease;
    /* 使用過渡效果 */
}

/* 設置 .swiper-slide 的樣式 */
.swiper-slide {
    flex: 0 0 100%;
    /* 將每個 .swiper-slide 的寬度設置為容器的100% */
    display: none;
    /* 隱藏 .swiper-slide */
}

/* 當 .swiper-container 有 .autoplay 類時，顯示 .swiper-slide */
.swiper-container.autoplay .swiper-slide {
    display: block;
    /* 顯示 .swiper-slide */
}

/* 設置輪播動畫 */
@keyframes carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* 將輪播動畫應用到 .swiper-wrapper 元素上 */
.swiper-wrapper.autoplay {
    animation: carousel 5s linear infinite;
    /* 每個 .swiper-slide 每5秒自動輪播 */
}


/* line----------- */
body {
    position: relative;
}

.line {
    background-color: #2221217e;
    padding: 10PX;
    border-radius: 10PX;
    width: 100PX;
    height: 100PX;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
}

.line img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}